In [9]:
korean = 92
english = 47
mathematics = 86
science = 81
 
print(korean >= 80 and english >= 80 and mathematics >= 80 and science >= 80)

False

In [17]:
# 숫자 두개를 입력 받아서 사칙연산을 출력하는 프로 그램

a,b = map(int,input("숫자 두개를 입력하시오").split())

print(a,'+', b,"=",a+b) 
print(a,'-', b,'=',a-b) 
print(a,'*', b,'=',a*b) 
print(a,'/',b,'=',a/b)

#print('%d * %d = %d'%(a,b,a*b))

숫자 두개를 입력하시오50 10
50 + 10 = 60
50 - 10 = 40
50 * 10 = 500
50 / 10 = 5.0

In [25]:
# 동전교환기

money, c500, c100, c50, c10 = 0,0,0,0,0 #초기화 하기 위한 값
money = int(input('교환할 금액 입력'))

c500 = money//500
money = money % 500 #나머지
c100 = money//100
money = money%100
c50 = money//50
money = money%50  #money%=10
c10= money//10
print('500원',c500,'개')
print('100원',c100,'개')
print('50원짜리 %d개'%c50)
print('10원짜리 %d개'%c10)

교환할 금액 입력9756
500원 19 개
100원 2 개
50원짜리 1개
10원짜리 0개

In [26]:
lst_a = [1,2,3]
print(lst_a)
type(lst_a)  #리스트에 저장된 각 값은 요소(element)라고 부른다.

[1, 2, 3]

list

In [29]:
person = ['홍길동',19,181.5,True]
print(person)

['홍길동', 19, 181.5, True]

In [30]:
lst_a = []

In [31]:
lst_a = list(range(10))
print(lst_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
colors =['red','blue','green']
print(colors)
print(colors[0])
print(coloss[2]) #0 부터 시작
print(len(colors))

['red', 'blue', 'green']
red
green
3

In [41]:
lst_a = list(range(10))
print(lst_a[3:5])
print(lst_a)

[3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[0:5])
print(area[3:5])

print(area[5:]) #어떤 숫자부터 끝까지 가져오는 법

['서울', '부산', '인천', '대구', '대전']
['대구', '대전']
['광주', '울산', '수원']

In [44]:
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[-8:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [54]:
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[::2])
print(area[::-1])

['서울', '인천', '대전', '울산']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [56]:
color = ['rea','blue','green']
color.append('white')
print(color)

['rea', 'blue', 'green', 'white']

In [57]:
color.insert(0,'orange')
print(color)

['orange', 'rea', 'blue', 'green', 'white']

In [62]:
color.remove('orange')
print(color)

['rea', 'blue', 'green', 'white']

In [64]:
color=['rea', 'blue', 'green', 'white']
color.insert(2,'orange')
print(color)

['rea', 'blue', 'orange', 'green', 'white']

In [65]:
t1 = (1,2,3)
print(t1)

(1, 2, 3)

In [66]:
print(t1[1])

2

In [70]:
#리스트와 튜플의 관계
t1 = (1,2,3)# 튜플을 생성
lst = list(t1)#튜플을 리스트 변화
lst.append(4) #항목추가
print(lst) 
t1= tuple(lst) #리스트를 튜플로 변환
print(t1) #튜플결과

[1, 2, 3, 4]
(1, 2, 3, 4)

In [75]:
dic1 = {'name': '홍길동','phone':'010-1234-1234', 'addr': '청주시 상당구'}
for key, value in dic1.items(): #제어문 뒤쪽에는 colon을 붙여준다
    print(key,value)

name 홍길동
phone 010-1234-1234
addr 청주시 상당구

In [76]:
print(dic1['name'])
print(dic1['phone'])
print(dic1)

홍길동
010-1234-1234
{'name': '홍길동', 'phone': '010-1234-1234', 'addr': '청주시 상당구'}

In [78]:
s1 =  set('hello')
print(s1)
s2 = set([1,2,3,3,5])
print(s2)

{'h', 'e', 'o', 'l'}
{1, 2, 3, 5}

In [80]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1-s2)#차집합
print(s1&s2)#교집합
print(s1 |s2 )#합집합 ##enter 위에 |||||

{1, 2, 3}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
s1 = set([1,2,3,4,5,6])
s1.add(7)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [86]:
a,b,c,d, = 0,0,0,0
plus = 0
a = int(input('첫 번째 값 입력'))
b = int(input('두번째 값 입력'))
c = int(input('세번째 값 입력'))
d = int(input('네번째 값 입력'))

plus = a+b+c+d
print('합계는=',plus)

첫 번째 값 입력10
두번째 값 입력20
세번째 값 입력30
네번째 값 입력40
합계는= 100

In [87]:
aa = [0,0,0,0]
plus = 0 

aa[0] = int(input('첫 번째 값 입력'))
aa[1] =int(input('두 번째 값 입력'))
aa[2] = int(input('세 번째 값 입력'))
aa[3]= int(input('네 번째 값 입력'))


plus = aa[0]+aa[1]+aa[2]+aa[3]
print('합계는',plus)

첫 번째 값 입력10
두 번째 값 입력20
세 번째 값 입력30
네 번째 값 입력40
합계는 100