In [5]:
def hello():
    print('hello! world')
hello()

hello! world

In [4]:
hello()

hello ! world

In [10]:
def greet(name):
    print('hello, '+ name + ' good morning')
greet("철수야")
greet("ㄹㄹㄹ")

hello, 철수야 good morning
hello, ㄹㄹㄹ good morning

In [14]:
def personalInfo(age, name, address):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)
personalInfo(19,'홍길동', '청주시 상당구')

이름 :  홍길동
나이 :  19
주소 :  청주시 상당구

In [16]:
def sum(a,b):
    print(a+b)
sum(1,5)

6

In [17]:
sum(1000,500)

1500

In [21]:
def sumFuntion(num1, num2):
    print('{0:d}+{1:d} = {2:d}'.format(num1, num2, num1+num2))

a= int(input('숫자 a를 입력하세요: '))
b= int(input('숫자 b를 입력하세요 : '))

sumFuntion(a,b)

숫자 a를 입력하세요: 50
숫자 b를 입력하세요 : 30
50+30 = 80

In [22]:
def add(a,b):
    return a + b

In [23]:
x = add(10,20)

In [24]:
x+10

40

In [31]:
def functionAdd(num1, num2):
    return num1+ num2, num1* num2
r1, r2 = functionAdd(10,20)
print(r1)
print(r2)

30
200

In [35]:
def add(a,b):
    """이 함수는 a 와 b를 더한뒤 결과를 반환하는 함수 입니다"""
    #여기는 주석입니다
    
    return a+b
    x = add(10,20)
    
print(x)
print(add.__doc__)

30
이 함수는 a 와 b를 더한뒤 결과를 반환하는 함수 입니다

In [39]:
def total(a, b=2, c=3):
    print(a + b + c)
total(10)
total(10,20)
total(10,20,30)

15
33
60

In [41]:
def total(a, b=0, c=0):
    print(a + b + c)
total(10)
total(10,20)
total(10,20,30)

10
30
60

In [46]:
def varSum(*numbers):
    print(numbers)
    sum=0
    for number in numbers:
        sum+=number
    return sum
varSum(10,20,30)

(10, 20, 30)

60

In [49]:
def calc(a,b):
    add = a+b
    sub = a-b
    return add, sub
add ,sub = calc(10,1)
print(add, sub)

11 9

In [50]:
def mul(a,b):
    c = a * b
    return c

def add(a,b):
    c= a +b
    print(c)
    d= mul(a,b)
    print(d)

x=10
y=20
add(x,y)

30
200

In [55]:
x,y = map(int, input().split())

def calc(x,y):
    return x+y,x-y,x*y,(x/y)
a,s,m,d = calc(x,y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

3 10
덧셈: 13, 뺄셈: -7, 곱셈: 30, 나눗셈: 0.3

In [66]:
#함수 선언
def calc(v1,v2,op):
    result = 0 #초기값 중요
    if op== '+':
        result = v1+v2
    elif op== '-':
        result = v1-v2
    elif op == '*':
        result = v1*v2
    else: 
        result = v1/v2
    return result


res = 0
var1,var2,oper = 0,0,""

oper = input('사칙연산을 입력하세요(+,-,*,/): ')
var1 = int(input('첫번째 수를 입력하세요 : '))
var2 = int(input('두번째 수를 입력하세요 : '))


res = calc(var1, var2, oper)
print('##계산기 : %d %s %d = %d'%(var1, oper, var2, res))

사칙연산을 입력하세요(+,-,*,/): /
첫번째 수를 입력하세요 : 50
두번째 수를 입력하세요 : 10
##계산기 : 50 / 10 = 5

In [67]:
def plus_ten(x):
    return x+10
plus_ten(1)

11

In [97]:
#로또 프로그램

import random

def getNumber():
    return random.randrange(1,46)

lotto = []
num = 0
print('** 로또 추첨을 시작합니다. **\n')
while True:
    num = getNumber()
    
    if lotto.count(num) == 0:
        lotto.append(num)
    if len(lotto)>= 6 : 
        break
print('추첨된 로또 번호는 ==>',end = ' ')
lotto.sort()
for i in range(0,6):
    print('%d'%lotto[i],end =' ')

** 로또 추첨을 시작합니다. **

추첨된 로또 번호는 ==> 14 15 19 22 25 41

In [104]:
x=10
def foo():
    x=20
    print(x)
foo()
print(x)

20
10

In [105]:
def func():
    global global_var
    local_var= '지역변수'
    print(local_var)
    print(global_var)
global_var= '전역변수'
func()
print(global_var)

지역변수
전역변수
전역변수

In [106]:
# 중요

def test(t):
    print(x)
    t = 20
    print('지역변값:',t)

x=10
test(x)# test의 print(x)값 10 먼저 출력되고 지역변값 :t 도 출력
print(x)
print(t)

10
지역변값: 20
10

NameError: name 't' is not defined