In [11]:
#간단한 더하기 예제
a = 10
b = 20
print(a+b)#a와 b를 더해라 지우기 싫고 실행은 안할때 주석처리
#print('a+b')
#print("a+b")
print('a+b =',a+b)

30
a+b = 30

In [6]:
print('print=출력')

print=출력

In [7]:
print('hello');print('korea it academy')

hello
korea it academy

In [15]:
a=10
if a == 10:
    print('10입니다')

10입니다

In [17]:
if 5>10:
    print('5는 10보다 작다')
    print("****************")
print('프로그램이 종료되었습니다')

프로그램이 종료되었습니다

In [18]:
1+1

2

In [19]:
5 % 2

1

In [20]:
5 ** 3

125

In [22]:
2**2

4

In [26]:
# int는 정수로 만들어 준다
int('10')

int(3.3)

3

In [27]:
type(10)

int

In [28]:
type(10.1)

float

In [29]:
x = 10

In [31]:
x + x

20

In [32]:
x * x

100

In [33]:
x,y,z = 10,20,30

In [34]:
x+y+z

60

In [35]:
x

10

In [36]:
y

20

In [37]:
z

30

In [43]:
x = y = z = 10

In [44]:
x

10

In [46]:
y

10

In [47]:
z

10

In [ ]:
print('a+b')

In [49]:
a=7
b=5
print(a+b)
print('a+b')

12
a+b

In [51]:
number = input()
print(number)

100
100

In [52]:
number

'100'

In [53]:
x = input()

'Hello, world'

In [54]:
x

"'Hello, world'"

In [57]:
print("당신의 이름을 입력 하세요 :")
name = input()
print("hi",name,"how are you today")

당신의 이름을 입력 하세요 :
jupyter
hi jupyter how are you today

In [61]:
a = int(input('첫 번째 숫자를 입력하세요 :'))
b = float(input('두 번째 숫자를 입력하세요 :'))
print(a+b)
#input은 그 뒤에 있는 입력값을 텍스트로 인식한다 숫자로 인식하지 못해 연산이 불가

첫 번째 숫자를 입력하세요 :10
두 번째 숫자를 입력하세요 :20
30.0

In [65]:
#입력함수 input('메시지')
birthyear = input("태어난 해를 입력하세요. : ") #input 앞에 int를 붙여도 가능
age = 2023 - int(birthyear) 
print(age)

태어난 해를 입력하세요. : 2000
23

In [67]:
print("본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램 입니다.")
celsius = input("변환하고 싶은 섭씨 온도를 입력하세요 : ")
fahrenheit =(float(celsius) * 1.8 ) +32
print("섭씨온도 :",celsius)
print("화씨온도 :",fahrenheit)

본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램 입니다.
변환하고 싶은 섭씨 온도를 입력하세요 : 10000
섭씨온도 : 10000
화씨온도 : 18032.0

In [68]:
a,b = input('숫자 두개를 입력하세요').split()
print(a)
print(b)

숫자 두개를 입력하세요hello python
hello
python

In [78]:
a,b =input('숫자 두개를 입력하세요: ').split()
a = int(a)
b = int(b)
print(a+b)

숫자 두개를 입력하세요: 1 2
3

In [83]:
a,b = map(int,input('숫자 두개를 입력하세요:').split())
print(a+b)

숫자 두개를 입력하세요:10 20
30

In [85]:
a,b,c = map(int,input('정수 세개를 입력하시오').split())
print(a+b+c)

정수 세개를 입력하시오-10 20 30
40

In [97]:
a,b,c,d =map(int, input('숫자 4개를 입력하세요:').split())

print(int((a+b+c+d)/4))

숫자 4개를 입력하세요:32 53 22 95
50

In [98]:
a,b,c,d =map(int, input('숫자 4개를 입력하세요:').split())
avg = int((a+b+c+d)/4)
print(avg)

숫자 4개를 입력하세요:32 53 22 95
50

In [1]:
l I 1 #글꼴 차이 D2CODING 글꼴

SyntaxError: invalid syntax (466246714.py, line 1)